html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Fonts */

@font-face {
  font-family: "Krakoan";
  src: url("/fonts/Krakoan/Krakoan.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

