
.main {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
}

.Gate {
  display: none;
  width: 100%;
}

@media screen and (min-width: 1080px) {
  .Gate {
    display: block;
  }
}
.GateContainer{
  background-image: url('../public/images/krakoan-gate-1.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;  
  width: 100%;
}

@media screen and (min-width: 1080px) {
  .GateContainer {
    background-image: none;
    height: 100%;
    object-fit: cover;
  }
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.title {
  height:1px;
  left:-10000px;
  overflow:hidden;
  position:absolute;
  top:auto;
  width:1px;
}